* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 20px;
}
ul {
  display: flex;
  gap: 20px;
}

nav {
  display: flex;
  gap: 20px;
  background-color: black;
  color: white;
}

a li {
  color: white;
}

.red {
  background-color: red;
}



