.card {
  border: 2px solid black;
  max-width: 23vw;
} 

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
}

nav, ul {
  display: flex;
  gap: 34px;
  padding: 12px 3px;
  background-color: rgb(20, 20, 19);
  margin-bottom: 9px;
  color: white;
  justify-content: center;
}

li {
  list-style-type: none;
}